<html>
	<head>
		<title>Roger Lam</title>
	</head>
	<body>
		<div class="container">
			<h1 id="headline">Lam Roger</h1>
			<h2 id="punchline">{ skills }</h2>
		</div>
		<div class="maincontainer">
			<div class="column">
				<h3>About</h3>
				<p>I am currently a 3rd year at UCLA studying Math of Computation.</p>
				<p>And I have a (unique) set of skills.</p>
			</div>
			<div class="column">
				<h3>Blog</h3>
				<p>Summaflects (Summary/Reflections!), as one of my teachers called them.<p>
			</div>
			<div class="column">
				<h3>Contact</h3>
				<p>I'd love to chat!</p>
				<p>Send me an email at mrlamroger<!--remove--><span style="display: none">+spammer</span>@ucla<!--remove-->.edu</p>
				<li><a href="http://twitter.com/lamroger" title="Roger Lam on Twitter">or Tweet @me</a></li>
			</div>
		</div>
	</body>
</html>