<html>
	<head>
		<title>Roger Lam</title>
	</head>
	<body>
		<div class="container">
			<h1 id="headline">Roger Lam</h1>
			<h2 id="punchline">{ Hadoop, C++, Python, Java }</h2>
		</div>
		<div class="maincontainer">
			<div class="column">
				<h3>About</h3>
				<p>I am currently a 3rd year at UCLA studying Math of Computation.</p>
				<p>And I have a (unique) set of skills.</p>
			</div>
			<div class="column">
				<h3>Blog</h3>
				<p>My summaflects (summary and reflections), as a teacher of mine called them.<p>
			</div>
			<div class="column">
				<h3>Contact</h3>
				<p>I'd love to chat!</p>
				<p>Shoot me an email at mrlamroger<!--remove--><span style="display: none">+spammer</span> [at] ucla<!--remove-->.edu</p>
				<p>or tweet <a href="http://twitter.com/lamroger" title="Roger Lam on Twitter">@lamroger</a></p>
			</div>
		</div>
	</body>
</html>